@font-face {
  font-family: "alimama";
  src: url("alimama.otf");
}
@font-face {
  font-family: "alimamaDao";
  src: url("AlimamaDao.otf");
}
@font-face {
  font-family: "alimamaS";
  src: url("AlimamaS-Bold.otf");
}
@font-face {
  font-family: "kai";
  src: url("kai.ttf");
}
@font-face {
  font-family: "kai1";
  src: url("kai1.TTF");
}