@font-face {
  font-family: "alimama";
  src: url("alimama.otf");
}
@font-face {
  font-family: "alimamaDao";
  src: url("AlimamaDao.otf");
}
@font-face {
  font-family: "alimamaS";
  src: url("AlimamaS-Bold.otf");
}
